# Environments
.env
.env.local
.env.production

# Virtual environments
venv/
.venv/

# Databases
db/*.db
db/*.pdf
db/resume_chroma/
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Mac OS
.DS_Store

# IDE
.vscode/
.idea/
